# Dependências
node_modules/

# Variáveis de Ambiente e chaves secretas
.env
.env.test
.env.production
.env.local

# Logs de execução e erros do Node/npm
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configurações de Editores de Código
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Pastas de cobertura de testes
coverage/
.nyc_output/